<!DOCTYPE html>
<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>

<body>
<main class="form-signin">

<div class="text-center">
  <h1 style="font-size:45px;margin-bottom: 30px">Voucher Service</h1>
</div>
<!--<div class="jumbotron text-center">-->
<!--    <h1>Voucher_Service</h1>-->
<!--  </div>-->

<nav class="navbar navbar-expand-sm bg-light" *ngIf="role=='basic'">
  <ul class="navbar-nav">
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(1)">Book Voucher</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(2)">Voucher List</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="editProfile()">Profile</a>
    </li>
  </ul>
</nav>

<div class="basic user" *ngIf="role=='basic'">
  <div class="section" *ngIf="section==1">

    <div class="form-group">
      <label>Service_Type</label>
      <select class="form-control" [(ngModel)]="selectedService" (change)="setDeliveryOptions()">
        <option [ngValue]="item" *ngFor="let item of serviceTypes">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Deliver</label>
      <select  class="form-control" [(ngModel)]="selectedDeliver">
        <option *ngFor="let item of deliverOptions">{{item}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Datetime</label>
      <input type="date" [(ngModel)]="date"  class="form-control">
      <input type="time" [(ngModel)]="time"  class="form-control">
    </div>

    <div class="form-group">
      <label>Optional Message</label>
      <input type="text" [(ngModel)]="optionMessage" class="form-control">
    </div>

    <button type="submit" class="w-100 btn btn-lg btn-primary center-block" (click)="book()">Book</button>
  </div>

  <div class="section" *ngIf="section==2">

    <table class="table table-striped" border="1" width="300px" height="100px">
      <tr>
        <th>ServiceType</th>
        <th>Date</th>
        <th>DeliverOption</th>
        <th>Cancel</th>
      </tr>
      <tr *ngFor="let item of requestList">
        <td>{{item.serviceType}}</td>
        <td>{{item.date}}</td>
        <td>{{item.deliveryOption}}</td>
        <td>
          <input type="button" value="cancel" (click)="cancelBooking(item._id)" class="form-control"> </td>
      </tr>
    </table>

  </div>

</div>

<nav class="navbar navbar-expand-sm bg-light" *ngIf="role=='admin'">
  <ul class="navbar-nav">
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(1)">Add ServiceType</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(2)">Request List</a>
    </li>
    <!--    <li class="nav-item" style="padding-left:0.2in">-->
    <!--      <a class="btn btn-primary" (click)="editProfile()">Profile</a>-->
    <!--    </li>-->
  </ul>
</nav>

<div class="admin" *ngIf="role=='admin'">

  <div class="section" *ngIf="section==1">
    <div class="form-group">
      <label>Service Name</label>
      <input type="text" [(ngModel)]="admin.name" class="form-control">
    </div>

    <div class="form-group">
      <label>Delivery Options</label>
<!--      <select [(ngModel)]="admin.selectedDelivery">-->
<!--        <option *ngFor="let item of admin.defaultDelivery">{{item}}</option>-->
<!--      </select>-->
      <div *ngFor="let item of admin.defaultDelivery" class="form-control">
        <label>
          <input type="checkbox" [(ngModel)]="item.selected"> {{item.option}}
        </label>
      </div>
    </div>

    <button type="submit" class="w-100 btn btn-primary center-block" (click)="admin.addService()">Add</button>
  </div>

  <div class="section" *ngIf="section==2">

    <table class="table table-striped"  border="1" width="300px" height="100px">
      <tr>
        <th >ServiceType</th>
        <th>Date</th>
        <th>DeliverOption</th>
        <th>OptionalMessage</th>
        <th>Name</th>
        <th>PhoneNumber</th>
        <th>EmailAddress</th>
      </tr>
      <tr *ngFor="let item of admin.bookingRequests">
        <td>{{item.serviceType}}</td>
        <td>{{item.date}}</td>
        <td>{{item.deliveryOption}}</td>
        <td>{{item.optionalMessage}}</td>
        <td>{{item.user.name}}</td>
        <td>{{item.user.phoneNumber}}</td>
        <td>{{item.user.email}}
          <input class="btn btn-default btn-sm" type="button" value="accept" (click)="admin.acceptRequest(item._id)"></td>
      </tr>
    </table>

  </div>


</div>

</main>
</body>
