<div class="jumbotron text-center">
    <h1>Voucher_Service</h1>
  </div>

<nav class="navbar navbar-expand-sm bg-light" *ngIf="role=='basic'">
  <ul class="navbar-nav">
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(1)">Book Voucher</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(2)">Voucher List</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="editProfile()">Profile</a>
    </li>
  </ul>
</nav>

<div class="basic user" *ngIf="role=='basic'">
  <div class="section" *ngIf="section==1">

    <div class="form-group">
      <label>Service_Type</label>
      <select [(ngModel)]="selectedService" (change)="setDeliveryOptions()">
        <option [ngValue]="item" *ngFor="let item of serviceTypes">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Deliver</label>
      <select [(ngModel)]="selectedDeliver">
        <option *ngFor="let item of deliverOptions">{{item}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Datetime</label>
      <input type="date" [(ngModel)]="date">
    </div>

    <div class="form-group">
      <label>Optional Message</label>
      <input type="text" [(ngModel)]="optionMessage">
    </div>

    <button type="submit" class="btn btn-primary" (click)="book()">Book</button>
  </div>

  <div class="section" *ngIf="section==2">

    <table class="table table-striped">
      <tr>
        <th>ServiceType</th>
        <th>Date</th>
        <th>DeliverOption</th>
      </tr>
      <tr *ngFor="let item of requestList">
        <td>{{item.serviceType}}</td>
        <td>{{item.date}}</td>
        <td>{{item.deliveryOption}}
          <input type="button" value="cancel" (click)="cancelBooking(item._id)"> </td>
      </tr>
    </table>

  </div>

</div>

<nav class="navbar navbar-expand-sm bg-light" *ngIf="role=='admin'">
  <ul class="navbar-nav">
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(1)">Add ServiceType</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" (click)="changeSection(2)">Request List</a>
    </li>
    <!--    <li class="nav-item" style="padding-left:0.2in">-->
    <!--      <a class="btn btn-primary" (click)="editProfile()">Profile</a>-->
    <!--    </li>-->
  </ul>
</nav>

<div class="admin" *ngIf="role=='admin'">

  <div class="section" *ngIf="section==1">
    <div class="form-group">
      <label>Service Name</label>
      <input type="text" [(ngModel)]="admin.name">
    </div>

    <div class="form-group">
      <label>Delivery Options</label>
      <select [(ngModel)]="admin.selectedDelivery">
        <option *ngFor="let item of admin.defaultDelivery">{{item}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="admin.addService()">Add</button>
  </div>

  <div class="section" *ngIf="section==2">

    <table class="table table-striped">
      <tr>
        <th>ServiceType</th>
        <th>Date</th>
        <th>DeliverOption</th>
        <th>OptionalMessage</th>
        <th>Name</th>
        <th>PhoneNumber</th>
        <th>EmailAddress</th>
      </tr>
      <tr *ngFor="let item of admin.bookingRequests">
        <td>{{item.serviceType}}</td>
        <td>{{item.date}}</td>
        <td>{{item.deliveryOption}}</td>
        <td>{{item.optionalMessage}}</td>
        <td>{{item.user.name}}</td>
        <td>{{item.user.phoneNumber}}</td>
        <td>{{item.user.email}}
          <input type="button" value="accept" (click)="admin.acceptRequest(item._id)"></td>
      </tr>
    </table>

  </div>


</div>

